.sideBarWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60px;
  height: 100vh;
  align-items: center;
  padding: 10px /* plasmic-token: kb3kg91y0 */;
  background: #151519;
}
.mainNav {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.avatar___5Fc86:global(.__wab_instance) {
  position: relative;
}
.img__o86Xs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
  border: 2px solid #559cf2 /* plasmic-token: 7RzU1Q_Sa */;
}
.separator:global(.__wab_instance) {
  position: relative;
}
.utilityNav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
}
.sideNavButton__d0Oiw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sqH7X {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #559cf2 /* plasmic-token: 7RzU1Q_Sa */;
}
.sideNavButton__cn5GO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iaHv0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #559cf2 /* plasmic-token: 7RzU1Q_Sa */;
}
